@page "/"

<PageTitle>Home</PageTitle>

<h1>Emergency Alert App</h1>

<p>This app is designed to get your general location once and notify you if someone in your area is having an emergency. This is especially helpful for remote communities in Canada.</p>
